build*
archive*
Alib*
Blib*

!test/files/*
CMakeLists.txt

# Ignore everything in the .vscode directory except launch.json which is used
# to configure vscode's debugger
**/.vscode/*
!**/.vscode/launch.json 